uvicorn
fastapi
httpx
loguru
pydantic
hf_xet
openai
ddgs
langchain-community==0.3.14
langchain-chroma==0.2.0
langchain-huggingface==0.1.2
langchain-openai==0.3.1
langchain-text-splitters
torch

python-dotenv
# --- RAG / Ingestion dependencies ---
faiss-cpu
pypdf
docx2txt
